.footer-socials {
  margin-left: 70px;
}

// приєднуйтесь 
.footer-socials__slogan {
  margin-top: 0;
  margin-bottom: 20px;

  color: $white-color;
  text-align: left;
}

.footer-socials__link {
  background-color: $bg-footer-social-icons;
  color: $white-color;
}

.footer-socials__icon {
  fill: currentColor;
}
