.advantages {
    @include sectionPad($size-top: 94px, $size-bottom: 47px);
}


.advantages__list {
    @extend %list;
    @include sectionSetFlex($type: flex, $wrap: nowrap);
}

.advantages__item {
    @extend %list;
    max-width: 270px; 
    &:not(:last-child) {
            margin-right: 30px;
        }
}


.advantages__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 270px;
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
  
  background: $bg-ghost-white;
  border-radius: 4px;
}

.advantages__description {
    @extend %description;
    font-size: $secondary-font-size;
}
