.clients__list {
    @extend %list;
        @include sectionSetFlex($type: flex, $wrap: nowrap);
    }
    
.clients__item:not(:last-child) {
            margin-right: 30px;
        }


.clients__logo {
    @include centeredFlex();
        justify-content: center;
        min-width: 170px;
        min-height: 92px;
    
        color: $border-clients;
        border: 1px solid $border-clients;
        border-radius: 4px;
    
        @include transition();
        transition-property: color, border;
    
        &:hover,
        &:focus,
        &:active {
            color: $accent-dodger-blue;
            border: 1px solid $accent-dodger-blue;
        }
}

.clients__icon {
    fill: currentColor;
}